html, body {
    height: 100%;
    width: 100vw;
    overflow: hidden;
    background: $body-background-color;
}


#gl {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

// #fboh-fbos-list {
//     visibility: hidden;
//     display: none;
// }

#gl-gui {
    background: transparent;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.navbar, .navbar-brand {
    background-color: transparent;
}

.navbar-menu {
    background-color: transparent;
    box-shadow: none;
} 


#framerate {
    &::before {
        content: "Framerate:";
    }
    &::after {
        content: "fps";
    }
}