@font-face {
    font-family: 'IBMPlexMono';
    src: url('/IBMPlexMono-Regular.woff2') format('woff2');
    font-weight: $weight-normal;
    font-style: normal;
}


/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "LongJohnson";
    src: url("/LongJohnson.woff2") format("woff2");
    src: url("/LongJohnson.ttf") format("truetype"),
         url("/LongJohnson.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
  
/* font converted using font-converter.net. thank you! */
@font-face {
    font-family: "FAT";
    src: url("/FREEFATFONT-Regular.woff2") format("woff2");
    src: url("/FREEFATFONT-Regular.woff") format("woff"),
         url("/FREEFATFONT-Regular.eot") format("woff");
    font-weight: normal;
    font-style: normal;
}

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-Roman.woff') format('woff');
//     font-weight: $weight-normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-BdCn.woff') format('woff');
//     font-weight: $weight-bold   ;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'HelveticaNeueLTPro';
//     src: url('/HelveticaNeueLTPro-BlkCn.woff') format('woff');
//     font-weight: $weight-black;
//     font-style: normal;
// }
